@page "/about"

<h2 class="text-3xl font-medium mt-8">About page headline</h2>

<h2 class="text-2xl font-normal mt-2">More detail about our vision for the website and application and how we imagine it to make a positive difference for the world.</h2>

<h2 class="text-2xl font-semibold mt-8 mb-2">The Team</h2>

<div class="flex flex-row gap-x-5">
    <div class="rounded-[15px] bg-white flex flex-col flex-1 p-3">
        <h1 class="text_xlg font-semibold">Free</h1>
        <h3 class="text_normal mt-[10px]">The free offering for you to explore ContactCone</h3>
        <h1 class="text_xlg mt-[15px] font-semibold">Free forever</h1>
    </div>
    <div class="rounded-[15px] bg-white flex flex-col flex-1 p-3">
        <h1 class="text_xlg font-semibold">Free</h1>
        <h3 class="text_normal mt-[10px]">The free offering for you to explore ContactCone</h3>
        <h1 class="text_xlg mt-[15px] font-semibold">Free forever</h1>
    </div>
    <div class="rounded-[15px] bg-white flex flex-col flex-1 p-3">
        <h1 class="text_xlg font-semibold">Free</h1>
        <h3 class="text_normal mt-[10px]">The free offering for you to explore ContactCone</h3>
        <h1 class="text_xlg mt-[15px] font-semibold">Free forever</h1>
    </div>
</div>