@page "/"

<div class="h-full grid place-content-center">
    <div class="mt-[-40px] text-center">
        <h2 class="text-3xl">Welcome to the Start Fellowship web app!</h2>
        <h3 class="text-xl">Startup Founders can keep in contact with the Admins of the Accelerator programm</h3>
    </div>
</div>
